#mc_embed_signup
  form#mc-embedded-subscribe-form.validate(action='http://thetenusa.us10.list-manage.com/subscribe/post?u=8876712ff94424e02acc6be01&amp;id=be34091f39', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
    #mc_embed_signup_scroll
      .mc-field-group
        input#mce-EMAIL.required.email(type='email', placeholder='Email address', name='EMAIL')
        input#mc-embedded-subscribe.button(type='submit', value='JOIN', name='subscribe')
      #mce-responses.clear
        #mce-error-response.response(style='display:none')
        #mce-success-response.response(style='display:none')
      div(style='position:absolute; left:-5000px')
        input(type='text', name='b_8876712ff94424e02acc6be01_be34091f39', tabindex='-1', value='')
      .clear

