doctype strict
html(lang='en')

  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/main.css')

  body
    #logo_nav
      span(data-page='home').logo

      #nav
        ul.nav__main
          li(data-page='home').nav_item__main.nav_item_page home
          li(data-page='collection_zero').nav_item__main.nav_item_page.selected collection zero
          li.nav_item__main: a(href='http://thetenusa.tumblr.com/', target='_blank') style journal
          li(data-page='philosophy').nav_item__main.nav_item_page philosophy
          li(data-page='contact').nav_item__main.nav_item_page contact

        ul.nav__social
          li.nav_item__social: a(href='https://twitter.com/theTENusa', target='_blank') twitter
          li.nav_item__social: a(href='https://www.facebook.com/thetenusa', target='_blank') facebook
          li.nav_item__social: a(href='https://instagram.com/thetenusa', target='_blank') instagram
          li.nav_item__social: a(href='https://www.pinterest.com/thetenusa', target='_blank') pinterest

    #pages

      #home.page.bg_img

      #collection_zero.page.bg_img.backdrop.selected 
        ul#collection_item_shell
          li(data-top-id='0.1').collection_item.collection_item__01.bg_img
          li(data-top-id='0.6', data-bottom-id='0.2').collection_item.collection_item__02.bg_img
          li(data-top-id='0.6', data-bottom-id='0.3').collection_item.collection_item__03.bg_img
          li(data-top-id='0.6', data-bottom-id='0.4').collection_item.collection_item__04.bg_img
          li(data-top-id='0.7', data-bottom-id='0.2').collection_item.collection_item__05.bg_img
          li(data-top-id='0.7', data-bottom-id='0.5').collection_item.collection_item__06.bg_img
          li(data-top-id='0.8').collection_item.collection_item__07.bg_img
          li(data-top-id='0.1').collection_item.collection_item__08.bg_img
        #collection_nav_shell
          span.collection_nav_arrow.collection_nav_arrow__left
          span.collection_nav_info__single
          span.collection_nav_info__double
          span.collection_nav_arrow.collection_nav_arrow__right

      #philosophy.page.bg_img

      #contact.page.backdrop


    #footer
      p &copy; 2015 theTEN Apparel, Inc. All rights reserved

    script(src='js/jquery-1.11.2.min.js')
    script(src='js/main.js')
