doctype strict
html(lang='en')

  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/main.css')

  body
    #logo_nav
      span(data-page='home').logo

      #nav
        ul.nav__main
          li(data-page='home').nav_item__main.nav_item_page home
          li(data-page='collection_zero').nav_item__main.nav_item_page.selected collection zero
          li.nav_item__main: a(href='http://thetenusa.tumblr.com/', target='_blank') style journal
          li(data-page='philosophy').nav_item__main.nav_item_page philosophy
          li(data-page='contact').nav_item__main.nav_item_page contact

        ul.nav__social
          li.nav_item__social: a(href='https://twitter.com/theTENusa', target='_blank') twitter
          li.nav_item__social: a(href='https://www.facebook.com/thetenusa', target='_blank') facebook
          li.nav_item__social: a(href='https://instagram.com/thetenusa', target='_blank') instagram
          li.nav_item__social: a(href='https://www.pinterest.com/thetenusa', target='_blank') pinterest

    #pages

      #home.page.bg_img

      #collection_zero.page.bg_img.backdrop.selected 
        ul#collection_zero_item_shell
          li(data-top-id='0.1', data-image='img/collection_zero_01.jpg')
          li(data-top-id='0.6', data-bottom-id='0.2', data-image='img/collection_zero_02.jpg')
          li(data-top-id='0.6', data-bottom-id='0.3', data-image='img/collection_zero_03.jpg')
          li(data-top-id='0.6', data-bottom-id='0.4', data-image='img/collection_zero_04.jpg')
          li(data-top-id='0.7', data-bottom-id='0.2', data-image='img/collection_zero_05.jpg')
          li(data-top-id='0.7', data-bottom-id='0.5', data-image='img/collection_zero_06.jpg')
          li(data-top-id='0.8', data-image='img/collection_zero_07.jpg')
          li(data-top-id='0.1', data-image='img/collection_zero_08.jpg')
        .collection_nav_shell
          span.collection_nav_arrow.collection_nav__left
          //- span.collection_nav_info__single
          span.collection_nav_info__double 0.1
          span.collection_nav_arrow.collection_nav__right.active

      //- #philosophy.page.bg_img
      //- #contact.page.backdrop


    #footer
      p &copy; 2015 theTEN Apparel, Inc. All rights reserved

    case build
      when 'prod'
        script(src='js/theten.min.js')
      default
        script(src='js/jquery-1.11.2.min.js')
        script(src='js/tweenmax.min.js')
        script(src='js/textplugin.min.js')
        script(src='js/CollectionNav.js')  
        script(src='js/Collection.js')
        script(src='js/main.js')

