.collection_item
  background-attachment   fixed
  background-position     center center
  background-repeat       no-repeat
  -webkit-background-size contain
  -moz-background-size    contain
  -o-background-size      contain
  background-size         contain
  display                 none
  height                  100%
  opacity                 0
  position                absolute
  top                     0
  width                   100%

  &.collection_item__right
    background-position right top
    right               0

  &.collection_item__left
    background-position left top
    right               0
