@require 'nib'
global-reset()
@require 'inc'
@require 'Collection'
@require 'CollectionNav'

html, body
  height 100%

body
  background      BACKGROUND_COLOR 
  background-size 100% 100%
  color           DARK_GREY
  font-family     Helvetica, Arial, sans-serif

.bg_img
  background-attachment   fixed
  background-position     center top
  background-repeat       no-repeat

  &.bg_img__left
    background-position center left

  &.bg_img__right
    background-position center right

  &.bg_img__cover
    -webkit-background-size cover
    -moz-background-size    cover
    -o-background-size      cover
    background-size         cover

  &.bg_img__contain
    -webkit-background-size contain
    -moz-background-size    contain
    -o-background-size      contain
    background-size         contain

  &.bg_img__fill
    -webkit-background-size 100% 100%
    -moz-background-size    100% 100%
    -o-background-size      100% 100%
    background-size         100% 100%

#logo_nav
  position fixed
  top         28px
  left        36px
  user-select none
  z-index     1
  .logo
    color         LOGO_COLOR
    cursor        pointer
    display       inline-block
    margin-bottom 19px

  #nav
    ul
      clearfix()
    li
      clear       both
      cursor      pointer
      display     block
      float       left
      font-size   .85em
      line-height 1.42
      padding     1px 5px 0
      transition  NAV_TRANSITION_SPEED TRANSITION_EASE

      &:hover
        background DARK_GREY
        transition 0s
        a
          color TEXT_SELECTED
      a
        text-decoration none

    .nav__main
      margin-bottom 8px
      .nav_item__main

        &.selected
          background DARK_GREY
          color      TEXT_SELECTED

        &:hover
          color TEXT_SELECTED
      a
        color DARK_GREY
    .nav__social
      .nav_item__social

        &:hover
          color TEXT_SELECTED
      a
        color LIGHT_GREY

#pages
  z-index 0

  > div
    display    none
    height     100%
    left       0
    opacity    0
    overflow   hidden
    position   fixed
    top        0
    width      100%

    &.selected
      display    block
      opacity    1
      visibility visible

    &.page
      transition opacity PAGE_TRANSITION_SPEED TRANSITION_EASE

    &.backdrop
      background-image        url('../img/bg.png')
      -webkit-background-size auto 100%
      -moz-background-size    auto 100%
      -o-background-size      auto 100%
      background-size         auto 100%

      &.backdrop__repeat_x
        background-repeat       repeat-x
        -webkit-background-size 100% 100%
        -moz-background-size    100% 100%
        -o-background-size      100% 100%
        background-size         100% 100%

  #home
    background-image url('../img/home_hero.jpg')

  #philosophy
    background-image url('../img/philosophy_hero.jpg')

    .philosophy__body
      height 100%
      width  518px
      margin 0 auto

      p
        font-size       .85em
        -webkit-hyphens none
        -moz-hyphens    none
        hyphens         none
        letter-spacing  -.005em
        line-height     1.45
        margin-bottom   20px
        -ms-word-break  keep-all
        word-break      keep-all

#footer
  bottom      16px
  color       LIGHT_GREY
  font-size   .718em
  left        37px
  position    absolute
  user-select none

