@require 'nib'
global-reset()
@require 'inc'
@require 'Collection'
@require 'CollectionNav'

html, body
  height 100%

body
  background      BACKGROUND_COLOR 
  background-size 100% 100%
  color           DARK_GREY
  font-family     Helvetica, Arial, sans-serif

.bg_img
  background-attachment   fixed
  background-position     center center
  background-repeat       no-repeat
  -webkit-background-size cover
  -moz-background-size    cover
  -o-background-size      cover
  background-size         cover

#logo_nav
  position fixed
  top         28px
  left        36px
  user-select none
  z-index     1
  .logo
    color         LOGO_COLOR
    cursor        pointer
    display       inline-block
    margin-bottom 19px

  #nav
    ul
      clearfix()
    li
      clear       both
      cursor      pointer
      display     block
      float       left
      font-size   .85em
      line-height 1.42
      padding     1px 5px 0
      transition  NAV_TRANSITION_SPEED TRANSITION_EASE

      &:hover
        background DARK_GREY
        transition 0s
        a
          color TEXT_SELECTED
      a
        text-decoration none

    .nav__main
      margin-bottom 8px
      .nav_item__main

        &.selected
          background DARK_GREY
          color      TEXT_SELECTED

        &:hover
          color TEXT_SELECTED
      a
        color DARK_GREY
    .nav__social
      .nav_item__social

        &:hover
          color TEXT_SELECTED
      a
        color LIGHT_GREY

#pages
  z-index 0

  > div
    display    none
    height     100%
    left       0
    opacity    0
    overflow   hidden
    position   fixed
    top        0
    width      100%

    &.selected
      display    block
      opacity    1
      visibility visible

    &.page
      transition opacity PAGE_TRANSITION_SPEED TRANSITION_EASE

    &.backdrop
      background-image        url('../img/bg.png')
      background-repeat       repeat-x
      -webkit-background-size auto 100%
      -moz-background-size    auto 100%
      -o-background-size      auto 100%
      background-size         auto 100%

  #home
    background-image url('../img/home_hero.jpg')

  #philosophy
    background-image url('../img/philosophy_hero.jpg')

#footer
  bottom      16px
  color       LIGHT_GREY
  font-size   .718em
  left        37px
  position    absolute
  user-select none

